.calculatorBoard {
    width: 16rem;
    height: 16rem;
    background-color: black;
    padding: 1px;
    margin: 1rem;

}

.buttonContainer {
    width: 16rem;
    height: 16rem;

}

.calculatorButton {
    width: 4rem;
    height: 4rem;
    border: 1px solid purple;
    background-color: pink;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.resultTab {
    width: 10rem;
    margin: 3rem;
    padding: 2rem;
    background-color: cadetblue;
    font-weight: bold;

}